/*--------------------------------*\
| layout-about__section
\*--------------------------------*/

.about {
	color: $color-main;
}

.container-contacto__about {
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
}

.innerContainer-contacto {
	padding-right: 5%;
}

.containerButton {
	margin-top: 5%;
	margin-right: 5%;
	display: block;
}

.containerButton p {
	font-family: $font-titles;
	font-weight: 900;
	font-size: 2.5rem;
	line-height: 1em;
	padding-right: 5%;
	padding-bottom: 20%;
}

.link-Btn {
	padding: 15px 25px;
	border-radius: 10px;
	background-color: $color-main;
	color: $color-second;
	text-decoration: none;
	font-family: $font-titles;
	font-size: 1.5rem;
	line-height: 1rem;
	cursor: pointer;
	height: 3rem;
}

.link-Btn:hover {
	background-color: #181818a6;
}