/*--------------------------------*\
| layout-about__section
\*--------------------------------*/

.container-contacto__about {
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
}

.innerContainer-contacto {
	padding-right: 5%;
}

.containerButton {
	margin-top: 10%;
}

.containerButton h4 {
	font-family: $font-titles;
	font-weight: 900;
	padding-right: 5%;
	padding-bottom: 2rem;
}

.link-Btn {
	padding: 15px 25px;
	border-radius: 10px;
	background-color: $color-second;
	color: $color-main;
	text-decoration: none;
	font-family: $font-titles;
	font-size: 1.5rem;
	line-height: 1.5rem;
	cursor: pointer;
	height: 3rem;
	@media only screen and (max-width: $breakpoint-xSmall) {
		font-size: 1rem;
		line-height: 1rem;
	}
}

.link-Btn:hover {
	// background-color: #181818a6;
	color: $color-second;
	background-color: #696969;
}
