/*--------------------------------*\
| layout-about__section
\*--------------------------------*/

.containerButton h3 {
	font-family: $font-titles;
	font-weight: 900;
	padding-right: 5%;
}

.link-Btn {
	padding: 15px 25px;
	border-radius: 10px;
	background-color: $color-second;
	color: $color-main;
	text-decoration: none;
	font-family: $font-titles;
	font-size: 1.5rem;
	line-height: 1.5rem;
	cursor: pointer;
	height: 3rem;
	@media only screen and (max-width: $breakpoint-small) {
		font-size: 1.2rem;
		line-height: 2rem;
	}
}

.link-Btn:hover {
	// background-color: #181818a6;
	color: $color-second;
	background-color: #696969;
}
