/*--------------------------------*\
|  ELEMENTS
\*--------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	// background-color: $color-main;
	color: white;
	scroll-behavior: smooth;
}

h1 {
	font-family: $font-titles;
	font-weight: 900;
	font-size: 5rem;
	line-height: 1em;
	@media only screen and (max-width: $breakpoint-xSmall) {
		font-size: 4rem;
	}
}

h2 {
	font-family: $font-text;
	font-size: 1.7rem;
	line-height: 2em;
	@media only screen and (max-width: $breakpoint-xSmall) {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
}

h3 {
	font-family: $font-titles;
	font-weight: 900;
	font-size: 3rem;
	line-height: 3em;

	@media only screen and (max-width: $breakpoint-xSmall) {
		font-size: 2rem;
		line-height: 2rem;
	}
}

h4 {
	font-family: $font-titles;
	font-weight: 900;
	font-size: 2rem;
	line-height: 2rem;
	@media only screen and (max-width: $breakpoint-xSmall) {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}

section {
	min-height: 100vh;
	// scroll-snap-align: start;
}

p {
	font-family: $font-text;
	font-size: 2rem;
	line-height: 3rem;
	@media only screen and (max-width: $bp-xsmall) {
		font-size: 1.3rem;
		line-height: 2.3rem;
	}
}

ul {
	padding-left: 4%;
	list-style-type: square;
	@media only screen and (max-width: $bp-small) {
		padding-left: 10%;
	}
}

li {
	font-family: $font-text;
	font-family: $font-text;
	font-size: 2rem;
	line-height: 3rem;
	@media only screen and (max-width: $bp-xsmall) {
		font-size: 1.3rem;
		line-height: 2.3rem;
	}
}

.inner-container {
	padding: 5% 20% 0% 20%;
}
