/*--------------------------------*\
|  MAIN
\*--------------------------------*/

.one {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	padding: 15% 15% 2% 15%;
	background-color: $color-main;
}

.two {
	background-color: $rojo;
}

.three {
	background-color: $azul-oscuro;
}

.four {
	background-color: $verde;
	color: $color-second;
}

.five {
	color: $color-second;
	background-color: $azul-claro;
}

.container {
	scroll-behavior: smooth;
	height: 95vh;
	// padding: 3rem calc((100vw - 1300px) / 2);
}

.contact {
	padding-bottom: 15%;
}

.btn-holder {
	display: grid;
	place-items: center;
	padding-bottom: 5%;
}

.scrollDown-button {
	background-color: $color-main;
	color: #fff;
	height: 42px;
	width: 42px;
	font-size: 42px;
	border-radius: 100%;
	border: none;
}

.scrollDown-button:hover {
	cursor: pointer;
	color: #cfcfcffd;
}
