.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: inherit;
	width: inherit;
}

.projectImage {
	// background-color: #563d7c;
	margin-right: 5%;
	margin-top: 5%;
	width: 400px;
	height: 300px;
}
