.slider {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	padding-bottom: 15%;
}

.image {
	width: 50%;
	height: 50%;
	border-radius: 5%;
	object-fit: cover;

	@media only screen and (max-width: $breakpoint-xLarge) {
		width: 100%;
		height: 100%;
	}
}

.arrows {
	margin-top: 20px;
}

.right-arrow {
	font-size: 3rem;
	cursor: pointer;
	user-select: none;
}

.left-arrow {
	font-size: 3rem;
	cursor: pointer;
	user-select: none;
}

.left-arrow:hover,
.right-arrow :hover {
	color: #696969;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}

.info h4,
.info p {
	padding: 0;
	margin: 0;
	margin-top: 5%;
}

.btn-primary {
	padding-top: 1rem;
	margin: 0;
	border-radius: 10px;
	background-color: $color-second;
	color: $color-main;
	font-family: $font-titles;
	font-size: 1.5rem;
	line-height: 1.5rem;
	cursor: pointer;
	height: 3.5rem;
	width: 100%;
	justify-content: center;
	user-select: none;
	text-decoration: none;
	border: none !important;

	@media only screen and (max-width: $bp-small) {
		font-size: 1.2rem;
		line-height: 2rem;
		padding-top: 0.6rem;
	}
}

.btn-primary:hover {
	color: $color-second;
	background-color: #696969;
	border-style: none;
}
.btn-primary:focus {
	color: $color-second;
	background-color: #696969;
	border: none !important;
}
