@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap");

/* Texto normal  font-family: 'Rajdhani', sans-serif;*/
/* Texto alt1 font-family: 'Shadows Into Light', cursive; */

/* Main  */

main {
	height: 100vh;
	width: 100%;
	background-color: #ececec;
}

.about {
	/* height: 50vh;
	width: 100%; */
	color: #181818;
}

.about h3 {
	font-family: "Rajdhani", sans-serif;
	font-weight: 900;
	font-size: 3rem;
	line-height: 1em;
}

.about p {
	font-family: "Shadows Into Light", cursive;
	font-size: 2rem;
}

.container-about {
	padding: 5% 20% 0% 20%;
}

.container-contacto__about {
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
}

.innerContainer-contacto {
	padding-right: 5%;
}

.containerButton {
	margin-top: 5%;
	margin-right: 5%;
	display: block;
}

.containerButton p {
	font-family: "Rajdhani", sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
	line-height: 1em;
	padding-right: 5%;
	padding-bottom: 20%;
}

.link-Btn {
	padding: 15px 25px;
	border-radius: 10px;
	background-color: #181818;
	color: #fff;
	text-decoration: none;
	font-family: "Rajdhani", sans-serif;
	font-size: 1.5rem;
	line-height: 1rem;
	cursor: pointer;
	height: 3rem;
}

.link-Btn:hover {
	background-color: #181818a6;
}
