.fourth {
	background-color: $color-section-fourth;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	margin-top: 20px;
	gap: 1rem;
	@include media(">=phoneL") {
		padding-top: 30px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	@include media(">=desktop") {
		padding-top: 30px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
	}
}

.last {
	grid-column: 2 / 3;
	@include media("<=phoneL") {
		grid-column: auto;
	}
}

.last-last {
	grid-column: 3 / 4;
	@include media("<=phoneL") {
		grid-column: auto;
	}
}

.text-fourth {
	padding-top: 5px;
}

.logo-edu {
	height: 100%;
	width: 100%;
	@include media("<=phoneL") {
		height: 80%;
		width: 80%;
	}
}
